### IGNORAR IDEs ###
.idea/
*.iml
*.ipr
*.iws
.vscode/

### IGNORAR BUILDS ###
build/
*/build/
*/*/build/

### ANDROID ###
local.properties
*.log
captures/
.externalNativeBuild/

### GRADLE ###
.gradle/
gradle/wrapper/gradle-wrapper.jar

### MAVEN ###
.mvn/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties

### SISTEMA ###
.DS_Store

### PROXY/REPOS EMBEBIDOS ###
backend/proxy/.git
